body {
    font-family: COMIC SANS MS;
}
header{
    background-color: #E6BEBE;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
}
.l{
    background-color: #F9E8E8;
    font-size: 24px;
}
img{
    border-radius: 14px;
    width: 100%;
    height: 100%;
    margin: 10px;
}
.img{
    border-radius: 14px;
    width: 100%;
    margin: 10px;
    height: 250px;
}
.p{
    background-color: #FFEFEF;
    border-radius: 14px;
    font-size: 20px;
    text-align: center; 
    width: 100%; 
}
.conteuner{
    display: flex;
    justify-content: space-around;
}
.r{
    background-color: #F9E8E8;
    font-size: 24px;    
}
.pp{
    margin: 15px;
}
footer{
    background-color: #F9E8E8;
}
.p:hover{
    font-size: 25px;
}
